<!-- Wrapper -->
    	<div class="wrapper">

			<!-- Sidebar -->
			<nav class="sidebar">
				
				<!-- close sidebar menu -->
				<div class="dismiss">
					<i class="fas fa-arrow-left"></i>
				</div>
				
				<div class="logo">
					<h3><a href="index.html">Bootstrap 4 Template with Sidebar Menu</a></h3>
				</div>
				
				<ul class="list-unstyled menu-elements">
					<li class="active">
						<a class="scroll-link" href="#top-content"><i class="fas fa-home"></i> Home</a>
					</li>
					<li>
						<a class="scroll-link" href="#section-1"><i class="fas fa-cog"></i> What we do</a>
					</li>
					<li>
						<a class="scroll-link" href="#section-2"><i class="fas fa-user"></i> About us</a>
					</li>
					<li>
						<a class="scroll-link" href="#section-5"><i class="fas fa-pencil-alt"></i> Portfolio</a>
					</li>
					<li>
						<a class="scroll-link" href="#section-6"><i class="fas fa-envelope"></i> Contact us</a>
					</li>
					<li>
						<a href="#otherSections" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" role="button" aria-controls="otherSections">
							<i class="fas fa-sync"></i>Other sections
						</a>
						<ul class="collapse list-unstyled" id="otherSections">
							<li>
								<a class="scroll-link" href="#section-3">Our projects</a>
							</li>
							<li>
								<a class="scroll-link" href="#section-4">We think that...</a>
							</li>
						</ul>
					</li>
				</ul>
				
				<div class="to-top">
					<a class="btn btn-primary btn-customized-3" href="#" role="button">
	                    <i class="fas fa-arrow-up"></i> Top
	                </a>
				</div>
				
				<div class="dark-light-buttons">
					<a class="btn btn-primary btn-customized-4 btn-customized-dark" href="#" role="button">Dark</a>
					<a class="btn btn-primary btn-customized-4 btn-customized-light" href="#" role="button">Light</a>
				</div>
			
			</nav>
			<!-- End sidebar -->
			
			<!-- Dark overlay -->
    		<div class="overlay"></div>

			<!-- Content -->
			<div class="content">
			
				<!-- open sidebar menu -->
				<a class="btn btn-primary btn-customized open-menu" href="#" role="button">
                    <i class="fas fa-align-left"></i> <span>Menu</span>
                </a>



<div class="container-fluid" id="admin">

    <!--Formulaire produit-->
    <div class="container-fluid" id="addproduct">
        <div class="row">
            <div class="col">
                <form class="formajout" method="POST" action="/admin" enctype="multipart/form-data">
                    <div class="form-group">
                        <label>Image</label>
                        <input type="file" class="form-control" name="image">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect">Marques</label>
                        <select class="form-control" name="marques" id="exampleFormControlSelect">
                            {{#each marques}}
                            <option value="{{this._id}}">{{this.type}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>modele</label>
                        <input type="text" class="form-control" name="modele">
                    </div>
                    <div class="form-group">
                        <label>prix</label>
                        <input type="text" class="form-control" name="prix">
                    </div>
                    <button type="submit" class="btn btn-primary">Ajouter</button>
                </form>
            </div>
        </div>
    </div>

    <div id="total">

    </div>
    <!--affichage produit-->
    <div class="container listeproduct">
        <h3>Liste des chaussures</h3>
        <div class="row">
            {{#each product}}
            <div class="col-md-3 card-type">

                <div class="card">
                    <img class="card-img-top" src="{{this.image.path}}" alt="">
                    <div class="card-body">
                        <h4 class="card-title">{{this.marques.type}}</h4>
                        <h5 class="card-title2">{{this.modele}}</h5>
                        <p class="card-text">{{this.description}}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{this.prix}}€</li>
                    </ul>
                    <div class="card-body">
                        <form action="{{this._id}}/?_method=DELETE" method="POST">
                            <button type="submit" class="btn-effacer">efface</button>
                            <button class="btn-modifier"><a href="{{this.id}}">Modifier</a></button>
                        </form>
                    </div>
                </div>

            </div>
            {{/each}}

        </div>
    </div>
</div>